@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mr+De+Haviland&display=swap");

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Lato", sans-serif;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 38px;
  background: rgba(229, 84, 115, 0.1);
  padding: 30px 90px 0px;
}

.header-text-title {
  color: #272727;
  font-size: 55px;
  font-weight: 800;
}

.header-text-description {
  color: rgba(39, 39, 39, 0.6);
  font-size: 16px;
  line-height: 30px;
  margin: 32px 0px;
}

.shop-now-btn {
  padding: 16px 35px;
  border: none;
  border-radius: 8px;
  background: #e55473;
}

.shop-now-btn > a {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
}

.header-photo {
  width: 550px;
}

.feature {
  width: 1000px;
  margin: 100px auto;
}
.feature-text-title {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  /* margin-bottom: 10px; */
}

.feature-text-description {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 16px;
  margin-right: 270px;
  margin-left: 270px;
  line-height: 30px;
  padding-bottom: 40px;
}

.feature-img {
  display: flex;
  justify-content: space-between;
  margin: 50px auto 0px;
  gap: 40px;
}

.feature-img-div-1 {
  background: rgba(167, 33, 98, 0.15);
  border-radius: 300px 300px 0px 0px;
  height: 400px;
  width: 450px;
}
.feature-img-div-2 {
  background-color: rgba(5, 151, 160, 0.15);
  border-radius: 300px 300px 0px 0px;
  height: 400px;
  width: 450px;
}
.feature-img-div-3 {
  background: rgba(71, 125, 17, 0.15);
  border-radius: 300px 300px 0px 0px;
  height: 400px;
  width: 450px;
}

.feature-img-1 {
  position: relative;
  left: 38px;
  top: 80px;
  width: 230px;
}
.feature-img-2 {
  position: relative;
  left: 28px;
  top: 100px;
  width: 250px;
}
.feature-img-3 {
  position: relative;
  left: 28px;
  top: 40px;
  width: 240px;
}

.pink-flower {
  display: flex;
  justify-content: space-evenly;
  margin: 10px auto;
  gap: 130px;
  text-decoration: underline;
}

/* .feature-img p {
  text-decoration: underline;
  text-align: center;
} */

.delivery {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
  margin: 100px auto;
  padding: 80px 0px;
  width: 1000px;
}

.month-best-container {
  width: 1000px;
}

.mon-best-img {
  display: flex;
}

.image {
  display: flex;
  justify-content: space-between;
  margin: 50px auto 0px;
  gap: 40px;
  min-width: 200px;
}

.hot-deal {
  display: flex;
  align-items: center;
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.05);
  padding: 60px 60px 60px 150px;
  gap: 50px;
}

.hot-deal-text > h3 {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}

.hot-deal-text > h3 > span {
  color: #e55473;
  text-align: center;
}

.hot-deal-text > p {
  color: rgba(39, 39, 39, 0.6);
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  padding-left: 100px;
}

.hot-deal-btn {
  padding: 16px 35px;
  border: none;
  border-radius: 8px;
  background: #e55473;
  position: relative;
  top: 10px;
  left: 48%;
}

.hot-deal-btn > a {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  /* margin: 0% 50%; */
}

.hot-deal-img {
  width: 80%;
}

.insta-title {
  color: #272727;
  font-size: 35px;
  font-weight: 700;
  text-align: center;
  margin-top: 15px;
}

.insta-description {
  color: rgba(39, 39, 39, 0.6);
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  padding: 20px 0px 30px;
}

.instagram {
  width: 1000px;
  margin: 70px auto;
}

.insta-gallary {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.gallary-img {
  width: 200px;
  border-radius: 10px;
}

.latest-deal {
  background-image: url("./flower-asset/Rectangle-9.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1000px;
  text-align: center;
  padding: 100px;
  margin-bottom: 80px;
}

.latest-deal-title {
  color: #272727;
  font-size: 35px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 15px;
}

.latest-deal-description {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 16px;
  line-height: 25px;
  margin-bottom: 15px;
}

.enter-email {
  border-radius: 8px;
  border: none;
  margin-right: 10px;
  background: #fff;
  padding: 16px 150px 16px 16px;
}

.sub-btn {
  border-radius: 8px;
  background: #e55473;
  border: none;
  padding: 16px;
  color: #fff;
  font-size: 2 0px;
  font-weight: 700;
}
footer {
  background: #111010;
  padding: 100px;
}
.footer-title {
  color: #fff;
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}

.footer-title > span {
  color: #e55473;
}
.footer-decription {
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 20px;
}
.copy-right {
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
  font-size: 16px;
  margin-bottom: 20px;
}

.post-title-1 {
  text-align: center;
  font-size: 25px;
  font-family: "Mr De Haviland", cursive;
  color: #e55473;
  margin-bottom: 15px;
}

.post-title-2 {
  text-align: center;
  font-size: 35px;
}

.post {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1px;
  margin: 80px auto;
  gap: 80px;
}
.post div {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.1);
}

.post-img {
  width: 277px;

  border-radius: 10px;
}

.post h3 {
  font-size: 30px;
  padding: 15px 0 15px 10px;
}
.post p {
  font-size: 18px;
  padding: 0px 0 15px 10px;
}
.post a {
  font-size: 18px;
  padding: 0px 0 15px 10px;
  margin-bottom: 10px;
  text-decoration: none;
}

.post a:hover {
  color: #e55473;
}
