@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Lato", sans-serif;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 38px;
  background: rgba(229, 84, 115, 0.1);
  padding: 30px 90px 0px;
}

.header-text-title {
  color: #272727;
  font-size: 55px;
  font-weight: 800;
}

.header-text-description {
  color: rgba(39, 39, 39, 0.6);
  font-size: 16px;
  line-height: 30px;
  margin: 32px 0px;
}

.shop-now-btn {
  padding: 16px 35px;
  border: none;
  border-radius: 8px;
  background: #e55473;
}

.shop-now-btn > a {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
}

.header-photo {
  width: 550px;
}

.feature {
  width: 1000px;
  margin: 100px auto;
}
.feature-text-title {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 10px;
  padding-top: 70px;
}

.feature-text-description {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 16px;
  margin-right: 270px;
  margin-left: 270px;
  line-height: 30px;
  padding-bottom: 40px;
}

.feature-img {
  display: flex;
  justify-content: space-between;
  margin: 50px auto 0px;
  gap: 40px;
}

.feature-img-div-1 {
  background: rgba(167, 33, 98, 0.15);
  border-radius: 300px 300px 0px 0px;
  height: 400px;
  width: 450px;
}
.feature-img-div-2 {
  background-color: rgba(5, 151, 160, 0.15);
  border-radius: 300px 300px 0px 0px;
  height: 400px;
  width: 450px;
}
.feature-img-div-3 {
  background: rgba(71, 125, 17, 0.15);
  border-radius: 300px 300px 0px 0px;
  height: 400px;
  width: 450px;
}

.feature-img-1 {
  position: relative;
  left: 38px;
  top: 80px;
  width: 230px;
}
.feature-img-2 {
  position: relative;
  left: 28px;
  top: 100px;
  width: 250px;
}
.feature-img-3 {
  position: relative;
  left: 28px;
  top: 40px;
  width: 240px;
}

.pink-flower {
  display: flex;
  justify-content: space-evenly;
  margin: 10px auto;
  gap: 130px;
  text-decoration: underline;
}

/* .feature-img p {
  text-decoration: underline;
  text-align: center;
} */

.delivery {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
  margin: 100px auto;
  padding: 80px 0px;
  width: 1000px;
}
